In [1]:
import mysql.connector as conn

In [2]:
mydb = conn.connect(host= "localhost", user ="root", passwd= "mangesh")
cursor = mydb.cursor()
cursor.execute("create database Superstore_new")

cursor.execute("use Superstore_new")

In [3]:
cursor.execute("create table test(student_id int, emp_id int, name varchar(20))")

In [5]:
cursor.execute("insert into test values (123,145,'mangesh')")

In [6]:
cursor.fetchall()

[]

In [7]:
mydb.commit()